{% load static wagtailuserbar menus_tags cache %}

{% get_menu "main" as menus %}

<!DOCTYPE html>
<html class="no-js" lang="en">

<head>
    <meta charset="utf-8" />
    <title>
        {% block title %}
        {% if self.seo_title %}{{ self.seo_title }}{% else %}{{ self.title }}{% endif %}
        {% endblock %}
        {% block title_suffix %}
        {% with self.get_site.site_name as site_name %}
        {% if site_name %}- {{ site_name }}{% endif %}
        {% endwith %}
        {% endblock %}
    </title>
    <meta name="description" content="" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />

    {# Global stylesheets #}
    <link rel="stylesheet" href="https://bootswatch.com/4/darkly/bootstrap.min.css" crossorigin="anonymous">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.2/css/all.css" integrity="sha384-oS3vJWv+0UjzBfQzYUhtDYW+Pj2yciDJxpsK1OYPAYjqT085Qq/1cq5FLXAZQ7Ay" crossorigin="anonymous">

    {% block extra_css %}
    {# Override this in templates to add extra stylesheets #}
    {% endblock %}
</head>

<body class="{% block body_class %}{% endblock %}">
    {% wagtailuserbar %}

    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
        <a class="navbar-brand" href="/">Hope and Code</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarColor02"
            aria-controls="navbarColor02" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarColor02">

            <ul class="navbar-nav mr-auto">

                <li class="nav-item">
                    <a class="nav-link" href="/">Home <span class="sr-only">(current)</span></a>
                </li>
                {% cache 604800 navigation %}
                    {% for menu in menus.menu_items.all %}
                        <li class="nav-item">
                            <a target="{{ menu.target }}" class="nav-link" href="{{ menu.link }}">{{ menu.title }}</a>
                        </li>
                    {% endfor %}
                {% endcache %}

            </ul>

            {% cache 604800 social %}
                <div class="mr-5">
                    {% if settings.site_settings.SocialMediaSettings.facebook %}
                        <a class="mr-1" href="{{ settings.site_settings.SocialMediaSettings.facebook }}">
                            <i class="fab fa-facebook-square fa-2x" style="color:white"></i>
                        </a>
                    {% endif %}
                    {% if settings.site_settings.SocialMediaSettings.twitter %}
                        <a class="mr-1" href="{{ settings.site_settings.SocialMediaSettings.twitter }}">
                            <i class="fab fa-twitter-square fa-2x" style="color:white"></i>
                        </a>
                    {% endif %}
                    {% if settings.site_settings.SocialMediaSettings.youtube %}
                        <a class="mr-1" href="{{ settings.site_settings.SocialMediaSettings.youtube }}">
                            <i class="fab fa-youtube-square fa-2x" style="color:white"></i>
                        </a>
                    {% endif %}
                </div>
                <form class="form-inline my-2 my-lg-0" action="/search">
                    <input class="form-control mr-sm-2" type="text" name="query" placeholder="Search">
                    <button class="btn btn-secondary my-2 my-sm-0" type="submit">Search</button>
                </form>
            </div>
        {% endcache  %}
    </nav>

    {% block content %}{% endblock %}


    {% cache 604800 js_scripts %}
        {# Global javascript #}
        <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
            integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous">
        </script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
            integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous">
        </script>
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
            integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous">
        </script>
    {% endcache %}

    {% block extra_js %}
    {# Override this in templates to add extra javascript #}
    {% endblock %}
</body>

</html>