{% extends 'base.html' %}


{% load wagtailimages_tags wagtailroutablepage_tags %}


{% block content %}

<div class="container mt-5">
    <a href="{{ sub_link }}"><h3>Go to Latest Posts</h3></a>
</div>

<div class="container mt-5">
    <h2>Categoreis</h2>
    <ul>
    {% for category in categories %}
        <li>
            <a href="?category={{ category.slug }}">
                {{ category.name }}
            </a>
        </li>
    {% endfor %}
    </ul>
</div>

<div class="container mt-5">

    {% for post in posts %}
    <div class="row mb-5">

        <div class="col-sm-4">

            {% image post.blog_image fill-370x250 as blog_img %}

            <img src="{{ blog_img.url }}" alt="{{ blog_img.alt }}">

        </div>

        <div class="col-sm-8">

            <a href="{{ post.url }}">
                {% if post.custom_title %}
                    <h3>{{ post.custom_title }}</h3>
                {% else %}
                    <h3>{{ post.title }}</h3>
                {% endif %}
                    
            </a>
        </div>

    </div>
    {% endfor %}


</div>
{% endblock content %}