{% extends 'base.html' %}


{% load wagtailimages_tags wagtailroutablepage_tags cache %}


{% block content %}

<div class="container mt-5">
    <a href="{{ sub_link }}"><h3>Go to Latest Posts</h3></a>
</div>

<div class="container mt-5">
    <h2>Categoreis</h2>
    <ul>
    {% for category in categories %}
        <li>
            <a href="?category={{ category.slug }}">
                {{ category.name }}
            </a>
        </li>
    {% endfor %}
    </ul>
</div>

<div class="container mt-5">

    {% for post in posts %}
        {% cache 604800 blog_post_preview post.id %}
            <div class="row mb-5">

                <div class="col-sm-4">
                    {% image post.blog_image fill-370x250 as blog_img %}

                    <img src="{{ blog_img.url }}" alt="{{ blog_img.alt }}">
                </div>

                <div class="col-sm-8">
                    <a href="{{ post.url }}">
                        {% if post.custom_title %}
                            <h3>{{ post.custom_title }}</h3>
                        {% else %}
                            <h3>{{ post.title }}</h3>
                        {% endif %}
                    </a>

                    {{ post.specific.content|striptags|truncatewords:"50"}}
                    <div class="col">
                        <a class="btn btn-info mt-3" href="{{ post.url }}">Read More</a>
                    </div>
                </div>

            </div>
        {% endcache %}
    {% endfor %}

<div class="container">
    <div class="row">
        <div class="col">
            {% if posts.paginator.num_pages > 1 %}

                <div class="pagination">

                    {% if posts.has_previous %}
                        <li class="page-item">
                            <a href="?page={{ posts.previous_page_number }}" class="page-link">
                                <span>&laquo;</span>
                            </a>
                        </li>
                    {% endif %}

                    {% for page_num in posts.paginator.page_range %}
                        <li class="page-item {% if page_num == posts.number %}active{% endif %} ">
                            <a href="?page={{ page_num }}" class="page-link">
                                <span>{{ page_num }}</span>
                            </a>
                        </li>
                    {% endfor %}


                   {% if posts.has_next %}
                        <li class="page-item">
                            <a href="?page={{ posts.next_page_number }}" class="page-link">
                                <span>&raquo;</span>
                            </a>
                        </li>
                   {% endif %}

                </div>

            {% endif %}
        </div>
    </div>
</div>


</div>
{% endblock content %}